* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

.sign {
    display: block;
    width: 100%;
    background-color: lightgreen;
    padding: 0.75rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.sign:hover {
    cursor: pointer;
}
.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}
.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}
.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}
.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: black;
}
.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: black;
}
.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: white;
    padding: 2rem;
    color: black(243, 244, 246, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title {
    text-align: center;
    line-height: 2rem;
    font-weight: 200;
    font-size: 2rem;
}
.form {
    margin-top: 1.5rem;
}
.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}
.input-group input {
    width: 90%;
    border-radius: 0.375rem;
    border: none;
    outline: 0;
    background-color: rgb(226, 226, 226);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}
.input-group input:focus {
    border-color: lightblue;
}
.notifications {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
}

.notifications label {
    display: flex;
    font-size: 14px;
    margin: 10px;
}

#notifications {
    width: 30px;
}

.signup a {
    color: lightblue;
}

.login-text {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.back {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.back i {
    font-size: 20px;
    color: gray;
}

.back a {
    text-decoration: none;
}